version: '2'

services:
  elasticsearch:
    image: elasticsearch:2.3.5
    ports:
     - "9300:9300"
     - "9200:9200"
  molanco-datacollector:
    build: ./streamsets
    ports:
     - "18630:18630"
    depends_on:
     - elasticsearch
    volumes:
     - ./streamsets:/data:rw
  kibana:
    image: kibana:4.5.4
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    depends_on:
      - elasticsearch
  molanco-inserting_data:
    build: ./build
    command: sh /start.sh
    depends_on:
      - elasticsearch
      - kibana
      - molanco-datacollector
# assing a nice name to volume
volumes:
    datacollectordata:
